@font-face {
  font-family: 'MontserratBold';
  src: url('css/fonts/Montserrat-Bold.eot'); 
  src: url('css/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('css/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('css/fonts/Montserrat-Bold.woff') format('woff'),
       url('css/fonts/Montserrat-Bold.ttf')  format('truetype'),
       url('css/fonts/Montserrat-Bold.svg#svgFontName') format('svg'); 
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('css/fonts/Montserrat-Regular.eot'); 
  src: url('css/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('css/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('css/fonts/Montserrat-Regular.woff') format('woff'),
       url('css/fonts/Montserrat-Regular.ttf')  format('truetype'),
       url('css/fonts/Montserrat-Regular.svg#svgFontName') format('svg'); 
}